{% include '../base/base.html' %}
{%load static%}


{%block css%}
<link rel="stylesheet" href="{%static 'css/dash.css'%}">
{%endblock%}

 {% block navbar %}
  {% include 'main/user_nav.html' %}
 {% endblock navbar %}

 

{%block content%}
    <h1 class="heading">Matching Roommates: </h1>
    <br><br><br>
    <h1 class="heading2"> These are the people that have a match with you </h1>
{%for user in matching_users%}
            

    <div class="container">
            <div class="box">
                <div class="heading">
                    <h2>{{user.full_name}}</h2>
                    <h4>Age: {{user.age}}</h4>
                    <h4>Budget: {{user.budget}}</h4>
                    <h4>smoking: {{user.smoking}}</h4>
                    <h4>Pets: {{user.pets}}</h4>
                     <h4>Gender: {{user.gender}}</h4>
                     <h4>Location: {{user.currentL}}</h4>
                </div>

            <img src="{{user.image.url}}" alt="" height="200" width="200">
               

                <div class="text">                    
                    <a href="" class="read-more" id="readMoreLink">Readmore</a>
                </div>


         {%empty%}
            <li>No matching roommates found.</li>
            
                <!-- slider Area -->
               <div class="slider-overlay"></div>
                <div class="slider">
                    <div class="slider-content">
                        <span class="close">
                            <a href="" class="close-slider text-decoration-none" id="closeSliderLink">
                                <i class="bi bi-x-lg text-black m-auto"></i>
                            </a>
                        </span>                           

                            <div class="card" style="width: 100%;">                                    
                                        <div class="image-container">
                                            <img src="{{user.image.url}}" class="card-img-top" alt="" height="200" width="200">
                                        </div>

                                   
                                        <div class="card-body">
                                            <h5 class="card-title fs-1 fw-bold">{{user.full_name}}</h5>
                                            <p class="card-text">
                                            <div class="details">
                                                
                                                <div class="left">
                                                    <p><span class="fw-bold fs-5">Age:</span> {{user.age}}</p>
                                                    <p><span class="fw-bold fs-5">Budget:</span> {{user.budget}}</p>
                                                    <p><span class="fw-bold fs-5">Smoking:</span> {{user.smoking}}</p>
                                                    <p><span class="fw-bold fs-5">Gender:</span> {{user.gender}}</p>
                                                    <p><span class="fw-bold fs-5">Location:</span> {{user.currentL}}</p>
                                                </div>
                                                <div class="right">
                                                    <p><span class="fw-bold fs-5">Phone no:</span> {{user.phone}}</p>
                                                    <p><span class="fw-bold fs-5">Occupation:</span> {{user.occupation}}</p>                                                    
                                                    <p><span class="fw-bold fs-5">Pets:</span> {{user.pets}}</p>
                                                    <p><span class="fw-bold fs-5">Budget:</span> {{user.budget}}</p>
                                                </div>                                                   
                                            </div>
                                                <div class="info">
                                                    <div class="social"><p><span class="fw-bold fs-5">Social media:</span> <br>{{user.social}}</p></div>
                                                    <div class="about">{{user.description}}</div>
                                                </div>
                                             </p>
                                                 <div class="connect">
                                                    <a href="#" class="btn btn-warning">Connect</a>
                                                 </div>
                                        </div>
                                    </div>
                                 </div>
                            </div>
                </div>
                </div>
            </div>
{%endfor%}


{%endblock%}

