{% include '../base/base.html' %}
{%load static%}

{%block css%}
    <link rel="stylesheet" href="{%static 'css/dash.css'%}">
{%endblock%}

{%block navbar%}
    {%include 'main/user_nav.html'%}
{%endblock%}

{%block content%}
<h2>Search Results: </h2><br><br><br>
<span class="mt-4"><h2>Search Results for:{{ query }}</h2></span>
<div class="container">
    
    {% for profile in profiles %}
            <div class="box">
                <div class="heading">
                    
                    <h2>{{ profile.full_name }}</h2>
                    <h4>Age: {{ profile.age }}</h4>
                    <h4>Budget: {{ profile.budget }}</h4>
                    <h4>smoking: {{ profile.smoking }}</h4>
                    <h4>Pets: {{ profile.pets }}</h4>
                     <h4>Gender: {{ profile.gender }}</h4>
                     <h4>Location: {{ profile.currentL }}</h4>
                </div>

            <img src="{{profile.image.url}}" alt="" height="200" width="200">
                <span class="more-details">
                    <!-- {{obj.age}}
                    {{obj.phone}}
                    {{obj.currentL}}
                    {{obj.occupation}}
                    {{obj.smoking}}
                    {{obj.pets}}
                    {{obj.budget}}
                    {{obj.social}} -->
                </span>
               

                <div class="text">
                    <!-- {{obj.description}}<br> -->
                    <a href="" class="read-more" id="readMoreLink">Readmore</a>
                </div>
            </div>
        
    
    {%endfor%}


</div>

{%endblock%}