{% include '../base/base.html' %}

{%load static%}

{%block css%}
<link rel="stylesheet" href="{%static 'css/user_nav.css'%}">
{%endblock%}

{%block navbar%}

<header>
  <input type="checkbox" name="" id="chk1">
  
  <div class="logo"><h1><a class="navbar-brand" href="{%url 'index'%}"><span class="text-warning">Roommate</span>Finder</a></h1></div>
  <div class="search-box">
    <form action="{%url 'search'%}" method="get">
        
      <input type="text" name="search" id="srch" placeholder="Search">
      <button type="submit">
        <span class="ss">
          <i class="bi bi-search text-black"></i>
        </span>
      </button>
    </form>
  </div>

  <ul>
    <li><a href="{%url 'dash'%}">Home</a></li>
    <li><a href="{%url 'find_roomates'%}">Matches</a></li>
    <li><a href="#"><i class="bi bi-bell"></i></a></li>
    <li><a href="#"><i class="bi bi-chat-dots-fill"></i></a></li>
  </ul>

  <div class="menu">
    <label for="chk1">
      <i class="bi bi-ui-checks-grid"></i>
    </label>
  </div>
</header>


{%endblock%}

