*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}    


.col-md-9{
    margin-top: 90px;
    margin-left: 290px;
    position: fixed;
}
.sidebar{
    top: 56px;
    position: fixed;
    left:0px;
    width: 290px;
    height: 100%;
    background: rgb(62, 61, 61);
    transition: all .5s ease;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width:100%;
    line-height: 65px;
    font-size: 20px;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
    transition: .4s;
}

ul li:hover a{
    padding-left: 50px;
}

ul li{
    list-style: none;
}

li a{
    color: white;
    text-decoration: none;
}

.sidebar ul li{
    margin-right: 16px;
} 


@media (min-width: 992px) {
    
    main{
        margin-left: 290px;
    }
}