@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

:root {
  --color-black: #000000;
  --color-purple: #861388;
  --color-blue: #279af1;
  --color-tea: #c8ffbe;
  --color-white: #f3f3f3;
  

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* 
p {
  color: var(--color-black);
} */

.section-padding{
  padding: 100px 0;
}

.carousel-item{
  height:100vh;
  min-height: 300px;
}

.carousel-caption
{
  bottom: 220px;
  z-index: 2;
}

.carousel-caption h5{
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
}

.carousel-caption p{
  width:60%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
}

.carousel-inner::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 1;
}

.navbar-nav a{
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
}

.navbar-light .navbar-brand{
  color:var(--color-black);
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover
{
    color:var(--color-black);
}

.navbar-light .navbar-nav .navbar-link{
  color:var(--color-black);
}

.w-100{
  height:100vh;
}

.services .card-body i{
  font-size: 50px;
  
}

.team .card-body{
  font-size: 20px;
  
}

.team .card{
  box-shadow: 15px 15px 40px rgba(0,0,0,0.15);
}

.services .card{
   box-shadow: 15px 15px 40px rgba(0,0,0,0.15);
}






@media only screen and (min-width: 768px) and (max-width: 991px){
  .carousel-caption{
    bottom: 370px;
  }

  .carousel-caption p{
    width: 100%;
  }

  .card{
    margin-bottom: 20px;
  }

  .img-area img{
    width: 100%;
  }
}




@media only screen and(max-width:767px){
  .navbar-nav{
    text-align: center;
  }
  .carousel-caption{
    bottom: 125px;
  }

  .carousel-caption h5{
    font-size: 17px;
  }

  .carousel-caption a{
    padding: 10px 15px;
  }
  .carousel-caption p{
    width: 100%;
    line-height: 1.6;
    font-size: 12px;

  }

  .about-text{
    padding-top: 50px;

  }
  .card{
    margin-bottom: 20px;
  }
}