{% include '../base/base.html' %}
{%load static%}

{%block css%}
<link rel="stylesheet" href="{% static 'css/signin.css' %}">
{%endblock%}

{%block title%}
{%endblock%}


{%block content%}

<div class="container">
<div class="form">
<h1>Register</h1>
 <form action="" method="POST">
    {% csrf_token %}
    <!-- {% comment %} {{form}} {% endcomment %} -->

        <!-- {{ form.user_name.label_tag }}
    <label for="username">Username</label>
    <div class="inp">
        
        {{ form.user_name }}
        {{ form.user_name.errors}}
    </div>

    <label for="email">Email</label>
    <div class="inp">
            {{form.email}}
            {{form.email.errors}}
    </div>


    <label for="phone">Phone</label>
    <div class="inp">
            {{form.phone}}
            {{form.phone.errors}}
    </div>

    <label for="password">Password</label>
    <div class="inp">
            {{form.password}}
            {{form.password.errors}}
    </div> -->

    <div class="inp">
        <ion-icon name="person-circle-outline"></ion-icon>
        <input type="text" placeholder="Username" class="text-center" name="user_name">
    </div>

    <div class="inp">
        <ion-icon name="person-circle-outline"></ion-icon>
        <input type="email" placeholder="Email" class="text-center" name="email">
    </div>
    
    <div class="inp">
        <ion-icon name="person-circle-outline"></ion-icon>
        <input type="number" placeholder="Phone" class="text-center" name="phone">
    </div>
    
    <div class="inp">
        <ion-icon name="person-circle-outline"></ion-icon>
        <input type="password" placeholder="Password" class="text-center" name="password">
    </div>

<button type="submit" class="sign btn bg-warning">Sign Up</button>
<span class="regis">Already have an account ? <a href="{%url 'signin'%}">Sign in</a></span>

</form>


{%endblock%}