{% include '../base/top.html' %}
{%load static%}

{%block css%}
<link rel="stylesheet" href="{% static 'css/signin.css' %}">
{%endblock%}

{%block title%}
{%endblock%}



{%block content%}

<div class="container">
<div class="form">
<h1>Sign In</h1>
<form action="" method="POST">
    {% csrf_token %}
    {% if messages%}
        {% for messages in messages %}
            {{message}}
        {% endfor %}
    {% endif %}


    <div class="inp">
        <ion-icon name="person-circle-outline"></ion-icon>
        <input type="text" placeholder="E-mail" class="text-center" name="email">
    </div>
    <div class="inp">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <input type="password" placeholder="Password" class="text-center" name="password">
    </div>
    <div class="check">
        <input type="checkbox">
        <span>Remember Me</span>
    </div>

    <button type="submit" class="sign btn bg-warning">Sign In</button>
    <span class="regis">Not Registered? <a href="{% url 'register'%}">Register</a></span>
</form>
</div>
<!-- <div class="div-text">
<h1>Roommate Finder</h1>
<p>Find your Perfect Roommate.</p>
</div> -->
</div>

{%endblock%}