{% include '../base/top.html' %}
{%load static%}

{%block css%}
<link rel="stylesheet" href="{% static 'css/signin.css' %}">
{%endblock%}

{%block title%}
{%endblock%}



{%block content%}

<div class="container">
<div class="form">
<h1>Sign In</h1>
<form action="{%url 'signin'%}" method="POST">
    {% csrf_token %}
    <!-- {{ form1 }} -->
    

     <div class="inp">
        <ion-icon name="person-circle-outline"></ion-icon>
        <input type="email" placeholder="Email" class="text-center" name="email">
    </div>
    <div class="inp">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <input type="password" placeholder="Password" class="text-center" name="password">
    </div> 


    {% comment %} {{form}} {% endcomment %}
   

    

    <button type="submit" class="sign btn bg-warning">Sign In</button>
    <span class="regis">Not Registered? <a href="{% url 'mysite:register'%}">Register</a></span>
</form>
</div>

</div>

{%endblock%}