{% extends '../base/base.html' %}
{% load static %}
{%block title%}
{%endblock%}

{%block css%}
<link rel="stylesheet" href="{% static 'css/signin.css' %}">
{%endblock%}





{%block content%}


  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">Registraion Table</div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table
                    id="example"
                    class="table table-striped data-table"
                    style="width: 100%"
                  >
                    <thead>
                      <tr>
                        <th>Id</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Phone</th>
                         
                      </tr>
                    </thead>
                    <tbody>
                      {% for obj in objs %}
                      <tr>
                        <td>{{obj.id}}</td>
                        <td>{{obj.user_name}}</td>
                        <td>{{obj.email }}</td>
                        <td>{{obj.phone}}</td>
                        
                        <td>

                            <!-- Delete Zone -->
                            <span class="btn btn-danger text-light text-center">              
                                  <a href="#" class="text-light text-decoration-none" id="delete">
                                    Delete
                                  </a>
                            </span>

                            <!-- Update zone -->
                            <span class="btn btn-primary text-light text-center">
                               <a href="{%url 'update'%}" class="text-light text-decoration-none">
                                Edit
                               </a>
                            </span>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                    <tfoot>
                      <!-- <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Age</th>
                        <th>Start date</th>
                        <th>Salary</th>
                      </tr> -->
                    </tfoot>
                  </table>
        </div>
      </div>
    </div>
  </div>

{%endblock%}

{%block javascript%}
<script src=" {% static './js/table.js' %} "></script>
{%endblock%}