{% extends '../base/base.html' %}
{% load static %}
{%block title%}
{%endblock%}

{%block css%}
<link rel="stylesheet" href="{% static 'css/signin.css' %}">
{%endblock%}





{%block content%}


  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">Registraion Table</div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table
                    id="example"
                    class="table table-striped data-table"
                    style="width: 100%"
                  >
                    <thead>
                      <tr>
                        <th>Id</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Password</th>  
                      </tr>
                    </thead>
                    <tbody>
                      {% for obj in objs %}
                      <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{obj.user_name}}</td>
                        <td>{{ obj.email }}</td>
                        <td>{{obj.phone}}</td>
                        <td>{{obj.password}}</td>
                        <td>

                            <!-- Delete Zone -->
                            <span>
                                <a href="" style="text-decoration: none;">
                
                                    <i class="bi bi-trash3 text-black"  data-item-id="{{obj.id}}"></i>
                                                                       
                                </a>
                            </span>

                            <!-- Update zone -->
                            <span style="margin-left: 5px;">
                                <a href="">
                                    <i class="bi bi-pencil text-black" ></i>
                                </a>
                            </span>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                    <tfoot>
                      <!-- <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Age</th>
                        <th>Start date</th>
                        <th>Salary</th>
                      </tr> -->
                    </tfoot>
                  </table>
        </div>
      </div>
    </div>
  </div>

{%endblock%}

{%block javascript%}
<script src=" {% static './js/table.js' %} "></script>
{%endblock%}