<!-- about section -->
{%load static%}

<section id="about" class="about-section-padding mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-12">
                <div class="about-img">
                    <img src="{%static 'images/about1.jpg'%}" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-12 ps-lg-5">
                <div class="about-text">
                    <h2>We Will Provide You Best <br> Roommate Ever</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                         Provident reiciendis voluptatem laborum dolores harum ut cumque, tempora perferendis asperiores
                         . Vitae placeat natus at iste alias, commodi eos perferendis. Voluptatum, officia!</p>
                </div>
                <a href="#" class="btn btn-warning mt-3">Learn More</a>
            </div>
        </div>
    </div>
</section>