<div id="contact" class="contact section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header text-center pb-5">
                    <h2>Contact Us</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam veritatis provident, deserunt iste optio fugiat soluta placeat labore debitis. Tempore doloremque tempora magni voluptatibus reprehenderit unde perspiciatis nobis, saepe explicabo.</p>

                </div>
            </div>
        </div>
            <div class="orw m-0">
                <div class="col-md-12 p-0 pt-4 pb-4">
                    <form action="#" class="bg-light p-4 m-auto">
                        <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="Full Name">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <input type="email" class="form-control" placeholder="E-mail">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <textarea rows="3" required class="form-control" placeholder="Message"></textarea>
                            </div>
                        </div>

                        <button class="btn btn-warning btn-lg btn-block mt-3">Send</button>
                    </div>
                    </form>
                </div>
        </div>
    </div>
</div>