{%load static%}
<div id="services" class="services section-padding mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header text-center pb-5">
                    <h2>Our Services</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam magni ullam maxime doloribus porro, culpa et perspiciatis distinctio.
                         Rerum sint temporibus obcaecati unde ea sequi omnis commodi explicabo accusamus voluptatum.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-4">
                <div class="card text-white text-center bg-dark pb-2">
                    <div class="card-body">
                        <i class="bi bi-subtract"></i>
                        <h3 class="card-title">
                            Best Quality
                        </h3>
                        <p class="lead">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                             Expedita unde cupiditate laborum sunt illum deserunt, officiis pariatur voluptatum dolorum ratione, rem quasi suscipit aspernatur enim vel, incidunt sed adipisci tempora.
                        </p>
                        <button class="btn btn-warning text-dark">Read More</button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4">
                <div class="card text-white text-center bg-dark pb-2">
                    <div class="card-body">
                        <i class="bi bi-slack"></i>
                        <h3 class="card-title">
                            Sustainablility
                        </h3>
                        <p class="lead">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                             Expedita unde cupiditate laborum sunt illum deserunt, officiis pariatur voluptatum dolorum ratione, rem quasi suscipit aspernatur enim vel, incidunt sed adipisci tempora.
                        </p>
                        <button class="btn btn-warning text-dark">Read More</button>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-12 col-lg-4">
                <div class="card text-white text-center bg-dark pb-2">
                    <div class="card-body">
                        <i class="bi bi-playstation"></i>
                        <h3 class="card-title">
                            Integrity
                        </h3>
                        <p class="lead">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                             Expedita unde cupiditate laborum sunt illum deserunt, officiis pariatur voluptatum dolorum ratione, rem quasi suscipit aspernatur enim vel, incidunt sed adipisci tempora.
                        </p>
                        <button class="btn btn-warning text-dark">Read More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>