{%load static%}

<!-- about the team -->

<div id="team" class="team section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header text-center pb-5">
                    <h2>Our Team</h2>
                </div>
            </div>
        </div>
        
            <div class="row">
                <div class="col-12 col-md col-lg-3">
                <div class="card text-center">
                    <div class="card-body">
                        <img src="{%static 'images/me.jpg'%}" alt="" class="img-fluid rounded-circle">
                        <h3 class="card-title py-2">Utsav Adhikari</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                             Suscipit vitae maxime eligendi illum voluptatem eveniet omnis repellat deserunt similique, odio ducimus enim, alias, quaerat quibusdam ad minima! Fuga, fugiat quae!</p>
                             <p class="socials">
                                <i class="bi bi-facebook text-dark mx-1"></i>
                                <i class="bi bi-linkedin text-dark mx-1"></i>
                                <i class="bi bi-instagram text-dark mx-1"></i>
                                <i class="bi bi-twitter text-dark mx-1"></i>
                             </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md col-lg-3">
                <div class="card text-center">
                    <div class="card-body">
                        <img src="{%static 'images/mishra.jpg'%}" alt="" class="img-fluid rounded-circle">
                        <h3 class="card-title py-2">Pawan Mishra</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                             Suscipit vitae maxime eligendi illum voluptatem eveniet omnis repellat deserunt similique, odio ducimus enim, alias, quaerat quibusdam ad minima! Fuga, fugiat quae!</p>
                             <p class="socials">
                                <i class="bi bi-facebook text-dark mx-1"></i>
                                <i class="bi bi-linkedin text-dark mx-1"></i>
                                <i class="bi bi-instagram text-dark mx-1"></i>
                                <i class="bi bi-twitter text-dark mx-1"></i>
                             </p>
                    </div>
                </div>
            </div>
            
        
        </div>
    </div>
</div>